html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: fit-content;
    user-select: none;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg,purple 0%,pink 100%);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
}
body,header,div{
    display: flex;
    flex-flow: column;
    align-items: center;
}
header,div{
    justify-content: center;
}
header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    background: purple;
    border-radius: 50%;
    min-width: 300px;
    min-height: 300px;
    max-height: 500px;
    max-height: 500px;
    color: aliceblue;
    border: 10px solid transparent;
    transition: .4s ease;
    cursor: pointer;
}
header>span,header::after{
    font-size: 4em;
}
sub{
    text-align: center;
    display: flex;
    align-items: center;
}
sub>img{margin-left: 10px;}
header::after{
    content: "▶︎";
    color: transparent;
    position: absolute;
}
header:hover{
    background: rgba(128, 0, 128, 0.8);
    color: rgba(240, 248, 255, 0.5);
    border: 10px solid aliceblue;
}
header:hover::after{
    display: flex;
    color: aliceblue;
}
header:hover>sub>img{
    filter: opacity(.5);
}
span{
    transition: .4s ease;
}
header:hover>span,header:hover>sub{
    color: rgba(240, 248, 255, 0.1);
}
aside{
    display: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background: purple;
    cursor: pointer;
    justify-content: center;
    color: aliceblue;
    font-size: 4em;
    line-height: 100px;
    transition: .5s;
}
aside:hover{
    background: rgb(179, 15, 179);
}
main{
    display: none;
    position: relative;
    width: 310px;
    height: 310px;
    flex-flow: row wrap;
}
rect{
    position: absolute;
    display: none;
    left: 5px;
    z-index: 1;
    width: 300px;
    height: 10px;
    background: rgb(93, 255, 174);
}
main>div{
    width: 100px;
    height: 100px;
    background: none;
    cursor: pointer;
    color: aliceblue;
    font-size: 4em;
    line-height: 100%;
}
#a1,#a2,#b1,#b2,#c1,#c2{
    border-right: 5px solid aliceblue;
}

#a1,#a2,#a3,#b1,#b2,#b3{
    border-bottom: 5px solid aliceblue;
}
footer{
    display: none;
    margin-top: 20px;
    width: 320px;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
output{
    position: relative;
    background: purple;
    color: aliceblue;
    font-size: 3em;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    justify-content: center;
}
#◯::before,#✖::before{
    position: absolute;
    color: aliceblue;
    width: 80px;
    height: 80px;
    filter: opacity(.2);
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
}
#◯::before{
    content: '◯';
    font-size: 1.2em;
}
#✖::before{
    content: '✖';
    font-size: 1.2em;
}
.fav::after{
    content: '★';
    position: absolute;
    color: rgb(255, 230, 147);
    transform: rotate(-15deg);
    top: -20px;
    left: 0;
}
footer>button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    transition: .5s;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}
button{
    cursor: pointer;
}